@import './variables'

#educationComponent
  position: absolute
  height: 100%
  width: 100%
  color: white
  overflow-x: hidden
  margin: 0
  padding: 0
.heading
  background: #333
  position: absolute
  font-size: 56px
  top: 10%
  left: 5%
  width: 300px
  box-shadow: -2px 0 10px #000
  .text
    display: block
    margin-left: 35%
    animation: slide-in 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards

@keyframes slide-in
  0%
    letter-spacing: 1em
    opacity: 0

  40%
    opacity: 0.6

  100%
    letter-spacing: normal
    opacity: 1

.timeline
  position: absolute
  width: 80%
  top: 40%
  left: 50%
  transform: translate(-50%, -50%)
  background: white
  height: 15px
  border-radius: 15px
  box-shadow: 0 4px 4px rgba(0,0,0,0.25)
  animation: expand 0.5s cubic-bezier(0.5,0.5,0.5,0.5)
.checkpoints
  position: absolute
  top: 40.5%
  left: 50%
  width: 800px
  transform: translate(-50%, 0)
  .checkpoint
    position: relative
    display: inline-block
    width: 200px
    height: 300px
    margin: 20px
    background: white
    color: #2c2c54
    text-align: center
    border-radius: 5px
    box-shadow: 0 4px 4px rgba(0,0,0,0.25)
    padding: 15px
    animation: drop 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both
    &:nth-child(1)
      animation-delay: 0.5s
      top: -23px
    &:nth-child(2)
      animation-delay: 1s
    &:nth-child(3)
      animation-delay: 1.5s
      top: -46px
    &:last-child
      .timeline-indicator
        animation: blink 0.5s cubic-bezier(0.5,0.5,0.5,0.5) alternate infinite
        animation-delay: 2s
    .name
      font-weight: bolder
      font-size: 24px
    .education
      color: #34ace0
      margin-top: 10px
    .institute
      margin-top: 10px
    .score
      position: absolute      
      color: #33d9b2
      font-weight: bolder
      margin-top: 10px
      font-size: 20px
      bottom: 20px
      left: 50%
      width: 100%
      transform: translate(-50%, 0)
    .timeline-indicator
      position: relative
      box-shadow: 0 4px 4px rgba(0,0,0,0.25)
      margin-left: 75px
      height: 20px
      width: 20px
      background: white
      border: 4px solid #33d9b2
      border-radius: 50%
      top: -50px

@keyframes blink
  0%
    background: white
    border-color: #33d9b2

  100%
    background: #33d9b2
    border-color: white

@keyframes expand
  0%
    width: 0
    opacity: 0

  100%
    width: 80%
    opacity: 1

@keyframes drop
  0%
    transform: rotateX(-100deg)
    transform-origin: top
    opacity: 0

  100%
    transform: rotateX(0deg)
    transform-origin: top
    opacity: 1

@keyframes expand-vertical
  0%
    height: 0
    opacity: 0
  100%
    height: 100%
    opacity: 1

@media (min-width: 320px) and (max-width: 885px)
  .heading
    font-size: 36px
    width: 150px
  .timeline
    top: 635px
    height: 750px
    width: 10px
    left: 15%
    animation: expand-vertical 0.5s cubic-bezier(0.5,0.5,0.5,0.5)
  .checkpoints
    left: 15%
    top: 190px
    transform: translateX(0)
    .checkpoint
      display: block
      &:nth-child(1), &:nth-child(2), &:nth-child(3)
        top: 0
        
  .timeline-indicator
    position: absolute
    left: -70%
    transform: translateY(150px)
