.heading
  text-align: center
  color: #FF6700

.sub-heading
  color: #FF6700
  font-weight: bold

.years
  margin-top: 10px
  padding-bottom: 20px
  .icon
    max-width: 120px

.education, .institution
  font-size: 30px