@import url('https://fonts.googleapis.com/css?family=Oswald|Titillium+Web')

.frame
  position: relative
  margin-top: 50px
  left: 50%
  transform: translate(-50%, 0%)
  max-width: 1224px
  box-shadow: 0 0 10px 4px #555
  background: #EBEBEB
  padding-bottom: 30px
  margin-bottom: 50px


.heading
  padding-top: 20px
  font-family: 'Oswald', sans-serif
  letter-spacing: 2px
  font-size: 45px
  text-transform: uppercase

.sub-heading
  font-family: 'Titillium Web', sans-serif
  font-size: 30px