@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Titillium+Web')
@import './variables'

.mainComponent
  height: 100%
  width: 100%
  color: white

.image
  display: inline-block
  max-height: 350px
  max-width: 350px
  float: right
  margin: 10%
  border-radius: 50%
  animation: ripple 1s cubic-bezier(0, 1.12, 0.87, 0.82) alternate infinite

@keyframes ripple
  0%
    box-shadow: 0 0 9px 9px rgba(0,0,0, 0.25)

  100%
    box-shadow: 0 0 0 9px rgba(0,0,0, 0.25), 0 0 0 18px rgba(0,0,0, 0.25), 0 0 0 27px rgba(0,0,0, 0.25)


.text
  position: absolute
  float: left
  margin-top: 14%
  margin-left: 10%
  max-width: 400px
  display: inline-block
  .name
    font-size: 2em
    color: $headingColor
    animation: fade-in 0.5s cubic-bezier(0.5,0.5,0.5,0.5) forwards
  .occupation
    font-size: 4em
    font-family: 'Permanent Marker', cursive
    animation: drop-in 1s cubic-bezier(0.75,-0.32, 0.07, 1.29) forwards


@keyframes drop-in
  0%
    transform: translateZ(-1000px) scale(0)
    opacity: 0

  100%
    transform: translateZ(0) scale(1)
    opacity: 1
@keyframes fade-in
  0%
    opacity: 0

  100%
    opacity: 1

@media (max-height: 624px)
  .text
    .name
      font-size: 1em !important
    .occupation
      font-size: 2em !important

@media (min-width: 320px) and (max-width: 450px)
  .image
    float: none
    margin: 0 auto
    display: block
    text-align: center
    max-height: 250px
    max-width: 250px
    transform: translateY(35%)

  .text
    bottom: 5%
    .name
      display: block
      font-size: 2em
      color: $headingColor
    .occupation
      font-size: 3em
      font-family: 'Permanent Marker', cursive

@media (min-width: 450px) and (max-width: 930px)
  .text
    position: absolute
    bottom: 5%
    max-width: 400px
    display: inline-block
    .name
      font-size: 2em
      color: $headingColor
    .occupation
      font-size: 4em
      font-family: 'Permanent Marker', cursive