@import '../sass/variables'

#skillComponent
  position: absolute
  display: block
  height: 100%
  width: 100%
  overflow: hidden

.text
  position: absolute
  color: white
  font-size: 56px
  width: 400px
  top: 20%
  left: 10%
  font-family: $Staatliches
  font-weight: bold
  letter-spacing: 10px
  animation: blur-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530)

@keyframes blur-in
  0%
    filter: blur(12px)

  100%
    filter: blur(0)

.icons-container
  position: absolute
  height: 90%
  width: 80%
  top: 10%
  background: #333
  box-shadow: -4px 0 15px #000
  z-index: -1
  border-top-left-radius: 5%
  border-top-right-radius: 5%


.icons
  margin-top: 10%
  max-width: 500px
  margin-left: 50%
  text-align: center
.icon
  height: 80px
  width: 80px
  margin: 10px
  transition: all 0.2s ease-in
  path
    stroke: #fff
    fill: #fff
    stroke-dasharray: 1800
    opacity: 10
    animation: animate-svg 2s cubic-bezier(0.79,-0.17, 0.45, 0.76)  alternate

@keyframes animate-svg
  0%
    opacity: 0
    fill: none
    stroke-dashoffset: 1800

  30%
    opacity: 10
    fill: none

  90%
    fill: rgba(255,255,255,0)

  100%
    opacity: 10
    fill: rgba(255,255,255,1)
    stroke-dashoffset: 0

@media (min-width: 320px) and (max-width: 734px)
  .text
    top: 20%
    font-size: 36px
    width: 300px
    left: 5%
  .icons-container
    width: 90%
    height: 85%
    border-top-right-radius: 0
    left: 10%
    top: 15%
    .icons
      position: inherit
      width: 300px
      padding: 0
      top: 45%
      left: -40%
      .icon
        height: 50px
        width: 50px